/*-- tags --*/
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1024;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.10);
    padding-top: 15px;
    padding-bottom: 15px;
}

main {
    transition: all 500ms;
}

:root {
    --rob-azul-forte: #014aad;
    --rob-azul-fraco: #5573fe;
    --texto-45: #454545;
    --fonte-principal: 'Fira Sans', sans-serif;

    --thin:        100;
    --extra-light: 200;
    --light:       300;
    --regular:     400;
    --medium:      500;
    --semi-bold:   600;
    --bold:        700;
    --extra-bold:  800;
    --black:       900;
}

body {
    font-family: var(--fonte-principal);
    color: var(--texto-45);
    position: relative;
}



/*-- seletores originais --*/
.thin        { font-weight: var(--thin) !important; }
.extra-light { font-weight: var(--extra-light) !important; }
.light       { font-weight: var(--light) !important; }
.regular     { font-weight: var(--regular) !important; }
.medium      { font-weight: var(--medium) !important; }
.semi-bold   { font-weight: var(--semi-bold) !important; }
.bold        { font-weight: var(--bold) !important; }
.extra-bold  { font-weight: var(--extra-bold) !important; }
.black       { font-weight: var(--black) !important; }


.border-radius-0 {
    border-radius: 0 !important;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-direction-row {
    flex-direction: row;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem var(--rob-azul-fraco);
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}

#detalhe-1 {
    top: 684px;
    left: -129px;
}

#detalhe-2 {
    top: 1920px;
    right: -200px;
}

#btn-container {
    min-width: 207px;
}

.rob-btn {
    padding: 15px 20px;
}

#home {
    margin-top: 120px;
}

#main {
    transition: all 500ms;
}

.banner-img {
    width: 100%;
    height: 780px;
    object-fit: cover;
}

#banner-produto-img {
    height: 400px;
}

.banner-text {
    line-height: 84px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 75px rgba(0, 0, 0, 0.15);
}

.banner-section {
    top: 0;
    height: 780px;
    left: 0;
    right: 0;
    margin: auto;
}

#banner-produto-section {
    height: 400px;
}

.d-flex.d-xl-block {
    width: 100%;
}

#sobre-nos {
    scroll-margin: 150px;
}

#sobre-nos-img {
    z-index: -2;
    width: 100%;
    height: auto;
}

#sobre-nos-text {
    margin-top: 350px
}

#aspas {
    z-index: 1;
}

#quote {
    line-height: 35px;
    background-color: var(--rob-azul-forte);
    color: white;
    font-size: 20px;
    z-index: 1;
    padding: 50px 55px;
}

#proposito {
    background-color: #f7f7f7;
    padding: 85px 20px 55px 20px;
    scroll-margin: 150px;
}

#form-col {
    background-color: #f7f7f7;
}

#desc {
    height: 100px;
}

#solucoes {
    scroll-margin: 150px;
}

.d-flex.justify-content-center {
    margin-top: 0;
}

#enviar {
    font-size: 16px !important;
    width: 220px;
    margin-right: 25px;
}

#termos-col {
    margin-left: 9px;
}

.placeholder-text {
    color: #6e6e6e;
    font-size: 14px;
    font-weight: var(--light);
    padding: 18px 35px !important;
}

.form-check-label {
    font-size: 12px;
    font-weight: var(--light);
}

.form-control {
    font-size: 14px;
    color: var(--rob-azul-forte);
    border-radius: 0;
    border: 1px solid #f1f1f1;
}

.form-control:focus {
    font-weight: var(--regular);
    font-size: 14px;
    color: var(--rob-azul-forte);
}

.section {
    margin-top: 150px;
}

.spaced-title {
    font-size: 14px;
    font-weight: var(--bold);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--rob-azul-fraco);
    margin-bottom: 10px;
    letter-spacing: 0.2em;
}

.bold-60 {
    line-height: 60px;
    font-size: 60px;
    font-weight: var(--bold);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--rob-azul-forte);
    margin-bottom: 25px;
}

#banner-produto-text {
    line-height: 72px;
    margin-bottom: 0;
}

.medium-17 {
    line-height: 27px;
    font-size: 17px;
    font-weight: var(--medium);
    margin-bottom: 37px;
}

.light-15 {
    line-height: 25px;
    font-size: 15px;
    font-weight: var(--light);
    margin: 0;
}


.color-white {
    color: white !important;
}

#nossas {
    margin-bottom: 52px;
}

.overlay {
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.1);
    transition: all 250ms;
}

.produto {
    cursor: pointer;
    transition: all 250ms;
}

.banner-produto {
    cursor: pointer;
    transition: all 250ms;
}

.flecha {
    opacity: 0;
    display: inline-block;
    transform: translateX(-10px);
    transition: all 350ms;
}

.produto:hover .overlay {
    background: transparent;
}

.produto:hover .flecha {
    opacity: 1;
    transform: translateX(0);
}

.banner-produto:hover .flecha {
    opacity: 1;
    transform: translateX(0);
}

.first-product-container {
    top: 50%;
    margin-top: -31px;
}

.product-container {
    bottom: 0;
    left: 10%;
    right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-title {
    line-height: 27px;
    font-size: 20px;
    font-weight: var(--medium);
}

.saiba-mais {
    line-height: 24px;
    font-size: 12px;
    color: var(--rob-azul-fraco);
}

#fale-conosco {
    background-color: var(--rob-azul-forte);
    padding: 48px 75px 48px 75px;
    scroll-margin: 150px;
}

.medium-15 {
    font-size: 15px;
    font-weight: var(--medium);
}

.translate-200 {
    transform: translateY(-200px);
}

#mapa {
    top: -200px;
}

#form {
    z-index: 1;
}

#map-img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.footer {
    background-color: #333333;
    top: 450px;
}

.footer-text {
    color: #f7f7f7;
    font-size: 14px;
    font-weight: var(--light);
}

#relacionados {
    margin-top: 200px;
}

/*-- media queries --*/
@media (max-width: 1200px) {
    #banner-text-col {
        transform: translate(12px);
    }

}


@media (min-width: 576px)  { /*  sm  */
    #aspas {
        bottom: 22%;
        right: 63.5%;
    }
}

@media (min-width: 768px)  { /*  md */
    .banner-text {
        font-size: 72px;
    }

    #quote {
        width: 400px;
        height: 250px;
        bottom: -12%;
        right: 10%;
    }

    #sobre-nos-text {
        margin-top: 150px;
    }
}

@media (min-width: 992px)  { /*  lg  */
    #aspas {
        bottom: 14%;
        right: 49%;
    }

    #form-col {
        padding: 45px 100px;
    }

    .navbar-light .navbar-nav .nav-link {
        justify-content: center !important;
    }

    .nav-link:after {
        display: flex !important;
    }
}

@media (min-width: 1200px) { /*  xl  */
    #banner-text-col {
        transform: translate(-200px);
    }

    #aspas {
        bottom: 25%;
        right: 67.5%;
    }

    .d-flex.d-xl-block {
        width: initial;
    }

    #sobre-nos-text {
        margin-top: 0;
    }
}

@media (min-width: 1400px) { /*  xxl  */
    #aspas {
        bottom: 20%;
        right: 59.5%;
    }
}

.nav-link:after {
    position: absolute;
    content: '';
    bottom: -38px;
    height: 5px;
    width: 40px;
    background-color: var(--rob-azul-fraco);
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.15s ease-in-out;
    display: none;
}

.active:after, .nav-link:hover:after {
    opacity: 1;
    transform: translateY(0px);
}


/*-- overrides --*/

.form-floating > .form-control, .form-floating > .form-select {
    padding: 1rem 20px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    color: var(--texto-45);
    justify-content: start;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--rob-azul-fraco);
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: var(--rob-azul-fraco);
}

.navbar-nav.w-100 {
    width: 81% !important;
}

.navbar-brand {
    margin-right: 0;
}

.nav-link {
    font-weight: var(--medium);
    font-size: 18px;
}

.btn {
    font-weight: var(--medium);
    font-size: 18px;
}

.btn-outline-primary {
    color: var(--rob-azul-forte);
    border: 2px solid var(--rob-azul-fraco);
}

.btn-outline-primary:hover {
    background-color: var(--rob-azul-fraco);
    border: 2px solid var(--rob-azul-fraco);
}

.btn-primary {
    font-family: var(--fonte-principal);
    color: white;
    background-color: var(--rob-azul-fraco);
}

.btn-primary:hover {
    background-color: var(--rob-azul-forte);
}

.btn-contatos {
    font-family: var(--fonte-principal);
    color: white;
    background-color: transparent;
    border: 2px solid var(--rob-azul-fraco);
}

.btn-contatos:hover {
    color: var(--rob-azul-forte);
    background-color: white;
    border-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%281, 74, 173, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}