/*-- tags --*/
header {
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 2;
}

:root {
    --rob-azul-forte: #014aad;
    --rob-azul-fraco: #5573fe;
    --texto-45: #454545;
    --fonte-principal: 'Fira Sans', sans-serif;

    --thin:        100;
    --extra-light: 200;
    --light:       300;
    --regular:     400;
    --medium:      500;
    --semi-bold:   600;
    --bold:        700;
    --extra-bold:  800;
    --black:       900;
}

body {
    font-family: var(--fonte-principal);
    color: var(--texto-45);

}



/*-- seletores originais --*/
.thin        { font-weight: var(--thin) !important; }
.extra-light { font-weight: var(--extra-light) !important; }
.light       { font-weight: var(--light) !important; }
.regular     { font-weight: var(--regular) !important; }
.medium      { font-weight: var(--medium) !important; }
.semi-bold   { font-weight: var(--semi-bold) !important; }
.bold        { font-weight: var(--bold) !important; }
.extra-bold  { font-weight: var(--extra-bold) !important; }
.black       { font-weight: var(--black) !important; }


.border-radius-0 {
    border-radius: 0 !important;
}

.flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
}


.justify-content-evenly {
    justify-content: space-evenly !important;
}

#banner-img {
    width: 100%;
    min-width: 100%;
}

#banner-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 72px;
    color: white;
    top: 30%;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.85);
}

#banner-text-col {
    transform: translate(-200px);
    line-height: 84px;
}



/*-- overrides --*/
.navbar-brand {
    margin-right: 0;
}

.navbar-collapse {
    width: unset;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--texto-45);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--texto-45);
}

.nav-link {
    font-weight: var(--medium);
    font-size: 18px;
}

.btn {
    font-weight: var(--medium);
    font-size: 18px;
}

.btn-outline-primary {
    color: var(--rob-azul-forte);
    border: 2px solid var(--rob-azul-fraco);
}

.btn-outline-primary:hover {
    background-color: var(--rob-azul-fraco);
    border: 2px solid var(--rob-azul-fraco);
}

.btn-primary {
    font-family: var(--fonte-principal);
    color: white;
    background-color: var(--rob-azul-fraco);
}

.btn-primary:hover {
    background-color: var(--rob-azul-forte);
}

.btn-contatos {
    font-family: var(--fonte-principal);
    color: white;
    background-color: transparent;
    border: 2px solid var(--rob-azul-fraco);
}

.btn-contatos:hover {
    color: var(--rob-azul-forte);
    background-color: white;
    border-color: white;
}