/*-- tags --*/
header {
    height: 120px;
    /*
    position: sticky;
    */
    top: 0;
    z-index: 2;
}

main {
    transition: all 500ms;
}

:root {
    --rob-azul-forte: #014aad;
    --rob-azul-fraco: #5573fe;
    --texto-45: #454545;
    --fonte-principal: 'Fira Sans', sans-serif;

    --thin:        100;
    --extra-light: 200;
    --light:       300;
    --regular:     400;
    --medium:      500;
    --semi-bold:   600;
    --bold:        700;
    --extra-bold:  800;
    --black:       900;
}

body {
    font-family: var(--fonte-principal);
    color: var(--texto-45);

}



/*-- seletores originais --*/
.thin        { font-weight: var(--thin) !important; }
.extra-light { font-weight: var(--extra-light) !important; }
.light       { font-weight: var(--light) !important; }
.regular     { font-weight: var(--regular) !important; }
.medium      { font-weight: var(--medium) !important; }
.semi-bold   { font-weight: var(--semi-bold) !important; }
.bold        { font-weight: var(--bold) !important; }
.extra-bold  { font-weight: var(--extra-bold) !important; }
.black       { font-weight: var(--black) !important; }


.border-radius-0 {
    border-radius: 0 !important;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-direction-row {
    flex-direction: row;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem var(--rob-azul-fraco);
}


.justify-content-evenly {
    justify-content: space-evenly !important;
}

#main {
    transition: all 500ms;
}


#banner-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 72px;
    color: white;
    top: 30%;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.85);
}

#banner-text-col {
    line-height: 84px;
}

#sobre-nos-img {
    z-index: -2;
    width: 100%;
    height: auto;
}

#aspas {
    z-index: 1;
}

#quote {
    line-height: 35px;
    width: 400px;
    height: 250px;
    background-color: var(--rob-azul-forte);
    color: white;
    font-size: 20px;
    z-index: 1;
    bottom: -12%;
    right: 10%;
    padding: 50px 55px;
}

#purpose-row {
    background-color: #f7f7f7;
    padding: 82px 0;
}

#form-col {
    padding: 45px 100px;
    background-color: #f7f7f7;
}

#desc {
    height: 100px;
}

#frame-wrapper {
    overflow: hidden;
    top: -200px;
    z-index: -1;
}

#frame {
    pointer-events: none;
    transform: scale(1.17);
}

.placeholder-text {
    color: #6e6e6e;
    font-size: 14px;
    font-weight: var(--light);
    padding: 15px 20px !important;
}

.form-check-label {
    font-size: 12px;
    font-weight: var(--light);
}

.form-control {
    font-size: 14px;
    color: var(--rob-azul-forte);
    border-radius: 0;
    border: 1px solid #f1f1f1;
}

.form-control:focus {
    font-weight: var(--regular);
    font-size: 14px;
    color: var(--rob-azul-forte);
}

.section {
    margin-top: 150px;
}

.spaced-title {
    font-size: 14px;
    font-weight: var(--bold);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--rob-azul-fraco);
    margin-bottom: 10px;
    letter-spacing: 0.2em;
}

.bold-60 {
    font-size: 60px;
    font-weight: var(--bold);
    font-family: 'Nunito Sans', sans-serif;
    color: var(--rob-azul-forte);
    margin-bottom: 25px;
}

.medium-17 {
    font-size: 17px;
    font-weight: var(--medium);
    margin-bottom: 37px;
}

.light-15 {
    font-size: 15px;
    font-weight: var(--light);
    margin: 0;
}

.purpose-row {
    padding: 82px 0;
    background-color: #f7f7f7;
}

.color-white {
    color: white !important;
}

#contatos-col {
    background-color: var(--rob-azul-forte);
    padding: 48px 75px 48px 75px;
}

.medium-15 {
    font-size: 15px;
    font-weight: var(--medium);
}

.footer {
    background-color: #333333;
    margin-top: 447px;
}

.footer-text {
    color: #f7f7f7;
    font-size: 14px;
    font-weight: var(--light);
}

/*-- media queries --*/
@media (max-width: 1200px) {
    #banner-text-col {
        transform: translate(12px);
    }

    #banner-text {
        top: 22%;
    }
}

@media (max-width: 992px) {
    span.bold {
        font-size: 50px;
    }
    #banner-img {
        max-width: unset;
    }
}


@media (min-width: 576px)  { /*  sm  */

}

@media (min-width: 768px)  { /*  md */

}

@media (min-width: 992px)  { /*  lg  */
    #aspas {
        bottom: 14%;
        right: 49%;
    }
}

@media (min-width: 1200px) { /*  xl  */
    #banner-text-col {
        transform: translate(-200px);
    }

    #aspas {
        bottom: 25%;
        right: 67.5%;
    }
}

@media (min-width: 1400px) { /*  xxl  */
    #aspas {
        bottom: 20%;
        right: 59.5%;
    }
}


/*-- overrides --*/
.navbar-brand {
    margin-right: 0;
}

.navbar-collapse {
    width: unset;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--texto-45);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--texto-45);
}

.nav-link {
    font-weight: var(--medium);
    font-size: 18px;
}

.btn {
    font-weight: var(--medium);
    font-size: 18px;
}

.btn-outline-primary {
    color: var(--rob-azul-forte);
    border: 2px solid var(--rob-azul-fraco);
}

.btn-outline-primary:hover {
    background-color: var(--rob-azul-fraco);
    border: 2px solid var(--rob-azul-fraco);
}

.btn-primary {
    font-family: var(--fonte-principal);
    color: white;
    background-color: var(--rob-azul-fraco);
}

.btn-primary:hover {
    background-color: var(--rob-azul-forte);
}

.btn-contatos {
    font-family: var(--fonte-principal);
    color: white;
    background-color: transparent;
    border: 2px solid var(--rob-azul-fraco);
}

.btn-contatos:hover {
    color: var(--rob-azul-forte);
    background-color: white;
    border-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%281, 74, 173, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}